<div>
    <h1>Favorites</h1>
    {{#each serializedUser}}
    <div id={{id}}>
        <input type="hidden" name="favId" value={{id}}/>
        <img src={{icon}} alt={{address}}/>
        <h4>{{token_id}}</h4>
        <button class="deleteBtn">Delete</button>
    </div>
    {{/each}}
    </div>